
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}


.cielo {
    display: flex;
    background: linear-gradient(to bottom, #f58078 10%,#9c71d1 100%);
    width: 100%;
    height: 60%; 

}


.sol.grande {
    width: 50px; 
    height: 50px; 
    background-color: #fff; 
    border-radius: 50%;
    position: relative;
    top: 130px; 
    left: 980px;
  
}

.sol.grande:hover{
    animation: amanecerSolGrande 5s ease-in-out forwards; 
}

.sol.peque{
    width: 50px; 
    height: 50px; 
    background-color: #ff1493; 
    position: relative;
    border-radius: 50%; 
    top: 250px; 
    left: 1100px; 
    animation: amanecerSolPequeno 5s ease-in-out forwards; 


}





@keyframes amanecerSolGrande {
    0% {
      top: 130px; 
      opacity: 1; 
    }
    100% {
      top:  120px;
      opacity: 0; 
    }
  }

  @keyframes amanecerSolPequeno {
    0% {
      top: 100px; 
      opacity: 0; 
    }
    100% {
      top: 250px; 
      opacity: 1;
    }
  }


.casa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    margin-left: 550px;
    margin-top: -375px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
  
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
}


.casa.terraza{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    margin-left: 550px;
    margin-top: -95px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
   
}

.casa + .terraza {
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
}

.casa > :first-child {
    border: 2px solid #000; 
  }

  .casa > :last-child {
    border: 2px solid #000; 
  }

  .casa > :nth-child(2) {
    background: #eaeaea; 
  }

.casa::before , .casa::after {
    content: "";
    position: relative;
    width: 100%; 
    height: 20px; 
    bottom: -20px; 
 
  
}

.casa.sala{

    width: 270px;
    height: 100px;
    margin-left: 615px;
    margin-top: -100px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
     box-shadow: -5px 10px 10px 0 rgba(0, 0, 0, 0.3);
   
}

.casa.entrada{

    width: 170px;
    height: 100px;
    margin-left: 665px;
    margin-top: -50px;
    border-style: solid;
    border-top-style: none;
    border-color: black;
    border-width: 4px;
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
    box-shadow: -10px 10px 10px 0 rgba(0, 0, 0, 0.3);
   
}

.casa.marcoentrada{

    width: 170px;
    height: 100px;
    margin-left: 665px;
    margin-top: -150px;
    border-radius: 50%;
    border-color: black;
    border-top-style: solid;

    border-width: 4px;
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
   
}


.techo {
  
    margin-left: 615px;
    margin-top: -220px;
    width: 270px;
    height: 220px; 
    top: -50px;
    
    background: linear-gradient(to right, #cd853f 50%, #f4a460 50%);
    border-radius: 50%; 
    border: 4px solid black; 
    box-shadow: -5px 10px 10px 0 rgba(0, 0, 0, 0.3);
    
  }

.puerta {
    margin-left: 712px;
    margin-top: -30px;
    width: 75px; 
    height: 100px;
    background: linear-gradient(to right, #753a10 50%, #894515 50%);
    border: 4px solid #000; 
    border-top: 0;
    
}


  
 

  
.puerta.marco {
    margin-left: 712px;
    margin-top: -120px;
    width: 75px;
    height: 50px;
    background: linear-gradient(to right, #753a10 50%, #894515 50%);
    border: 4px solid #000; 
    border-radius: 50%;
  
}

.ventana{
    margin-left: 840px;
    margin-top: -80px;
    width: 30px;
    height: 15px;
    background-color: black; 
    border: 4px solid #000; 
    transition: background-color 0.3s ease;
   

}

.ventana:hover {
    background-color: #9c71d1; 
  }


.caja1{
    margin-left: 860px;
    margin-top: 40px;
    width: 15px;
    height: 25px;
    background-color: #d2691e; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}
.caja1:hover {
    transform: scale(1.1); 
  }

  .caja2:hover {
    transform: scale(1.1); 
  }
  .caja3:hover {
    transform: scale(1.1); 
  }
  .caja4:hover {
    transform: scale(1.1); 
  }
  .caja5:hover {
    transform: scale(1.1); 
  }
  .caja6:hover {
    transform: scale(1.1); 
  }
  .caja7:hover {
    transform: scale(1.1); 
  }

.caja2{
    margin-left: 843px;
    margin-top: -35px;
    width: 15px;
    height: 35px;
    background-color: #d2691e; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}

.caja3{
    margin-left: 625px;
    margin-top: -35px;
    width: 35px;
    height: 35px;
    background-color: #79af79; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}

.caja4{
    margin-left: 570px;
    margin-top: -25px;
    width: 35px;
    height: 25px;
    background-color: #9f512c; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}

.caja5{
    margin-left: 490px;
    margin-top: -45px;
    width: 40px;
    height: 45px;
    background-color: #9f512c; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}
.caja6{
    margin-left: 515px;
    margin-top: -55px;
    width: 15px;
    height: 55px;
    background-color: #79af79; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}

.caja7{
    margin-left: 855px;
    margin-top: 5px;
    width: 70px;
    height: 17px;
    background-color: #9f512c; 
    border: 4px solid #000; 
    transition: all 0.3s ease;
   

}







.suelo {
    background: #f5deb3; 
    border-color: black;
    border-top-style: solid;
   
    border-width: 5px;
    width: 100%;
    height: 40%; 
}


  