
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}


#cielo {
    background: linear-gradient(to bottom, #f58078 10%,#9c71d1 100%);
    width: 100%;
    height: 60%; 
}


#sol-grande {
    width: 50px; 
    height: 50px; 
    background-color: #fff; 
    border-radius: 50%;
    position: relative;
    top: 150px; 
    left: 950px;
}

#sol-pequeno {
    width: 50px; 
    height: 50px; 
    background-color: #ff1493; 
    position: relative;
    border-radius: 50%; 
    top: 200px; 
    left: 1100px; 
}


#suelo {
    background: #f5deb3; 
    width: 100%;
    height: 40%; 
}
